<%- include includes/header-medico.ejs %>

<section class="box__panel medico-anuncios">
	<div class="container">
        <div class="search-inner">
            <div class="container">
                <div class="form-search form">
                    <form action="">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="select">
                                    <i class="sprite-form__specialty"></i>
                                    <select name="" id="" class="select-icon">
                                        <option value="">Especialidade</option>
                                        <option value="">Gastrologista</option>
                                        <option value="">Cardiologista</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="" placeholder="Nome do Especialista"  class="sprite-form__specialist">
                            </div>
                        </div>
                        
                        <div class="btn-searchInner cor-verde">
                            <input type="submit" value="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">            
        
            <div class="btn-goSearch">
                <div class="container">
                    <a href="page-pesquisa-avancada.php">IR PARA <strong>PESQUISA AVANÇADA</strong></a>
                </div>
            </div>
            
            <div class="detail__item doctor">
                <div class="container">
                    <div class="detail__header right-left-20">
                        <figure class="detail__photo cor-verde">
                            <img alt="Dr. Guilherme Marques" src="/views/img/medico.jpg">
                        </figure>
                        <div class="detail__content">
                            <h3><strong>DR. MARCO ANTONIO</strong></h3>
                            <p>Competência em: Diabetologia, Obesidade, Patologias da Tireóide, Metabolismo Mineral e Ósseo e Nutrição</p>
                            <div class="local">
                                <img src="/views/img/detail_pin.png" alt="Pin">
                                <strong>Fortaleza - CE, Varjota</strong>
                                <a href="#" class="btn btn-gradient padding-botao">Ver Convênio Médico</a>
                            </div>
                            <div class="infos">
                                <span><strong>20</strong> Respondeu às Pergunas </span>
                                <span><strong>14</strong> Opinião dos Pacientes</span>
                            </div>
                        </div>
                        <div class="pricebox right-15">
                            <p>Preço Para Consulta <strong>Particular</strong></p>
                            <div class="price cor-verde">R$ 100</div>
                            <br>
                            <a href="#" class="btn btn-clean">Avaliações</a>
                        </div>
                    </div>
                    <div class="detail__wrapper">
                        <h3>Escolha o <strong>Dia</strong> e a <strong>Hora</strong> da sua Consulta</h3>
                        
                        <div class="day-choose__box">
                            <div class="arrows-slide">
                                <div class="arrow arrow-l"></div>
                                <div class="arrow arrow-r"></div>
                            </div>
                            
                            <div class="day-choose">
                                <div class="day-choose__container">
                                    <div class="day-choose__header">
                                        <div class="row">
                                            <div class="col-2 day-choose__header-item today">
                                                <h5>Segunda-Feria</h5>
                                                <span>Hoje</span>
                                            </div>
                                            <div class="col-2 day-choose__header-item">
                                                <h5>Terça-Feira</h5>
                                                <span>26 de Dezembro</span>
                                            </div>
                                            <div class="col-2 day-choose__header-item">
                                                <h5>Quarta-Feira</h5>
                                                <span>27 de Dezembro</span>
                                            </div>
                                            <div class="col-2 day-choose__header-item">
                                                <h5>Quinta-Feira</h5>
                                                <span>28 de Dezembro</span>
                                            </div>
                                            <div class="col-2 day-choose__header-item">
                                                <h5>Sexta-Feira</h5>
                                                <span>29 de Dezembro</span>
                                            </div>
                                            <div class="col-2 day-choose__header-item">
                                                <h5>Sábado</h5>
                                                <span>30 de Dezembro</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="day-choose__hour">
                                        <div class="row">
                                            <div class="col-2">
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                                <a href="page-marca-consulta.php" class="btn-gradient btn-radius">08:30</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
            
        <div class="detail__item location">
            <div class="detail__title">
                <h3>Localização</h3>
            </div>
            <div class="map-box">
                <div class="map" id="map"></div>
                <form method="get" action="javascript:;" id="form_route" class="form-mapa">
                    <input type="text" name="q" id="q" placeholder="Informe sua localização">
                    <input type="submit" value="Definir rota" class="btn-map cor-verde"/>
                </form>
            </div>
        </div>

        <div class="row">
            
            <div class="detail__item reviews">
                <div class="container">
                    <div class="detail__title">
                        <h3>Opinião dos Pacientes</h3>
                    </div>
                    <div class="detail__wrapper">
                        <article class="type reviews-item">
                            <div class="review-stars">
                                <span class="review-star checked"></span>
                                <span class="review-star checked"></span>
                                <span class="review-star checked"></span>
                                <span class="review-star"></span>
                                <span class="review-star"></span>
                            </div>
                            <h3>Victor Hugo</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum necessitatibus quod voluptatum assumenda sit dolorem ipsam quo quibusdam! Soluta minus, esse inventore voluptatem ex molestias tenetur sint eos repellendus ducimus!</p>
                        </article>
                        <article class="type reviews-item">
                            <div class="review-stars">
                                <span class="review-star checked"></span>
                                <span class="review-star checked"></span>
                                <span class="review-star"></span>
                                <span class="review-star"></span>
                                <span class="review-star"></span>
                            </div>
                            <h3>Victor Hugo</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum necessitatibus quod voluptatum assumenda sit dolorem ipsam quo quibusdam! Soluta minus, esse inventore voluptatem ex molestias tenetur sint eos repellendus ducimus!</p>
                        </article>
                        <article class="type reviews-item">
                            <div class="review-stars">
                                <span class="review-star checked"></span>
                                <span class="review-star checked"></span>
                                <span class="review-star checked"></span>
                                <span class="review-star checked"></span>
                                <span class="review-star"></span>
                            </div>
                            <h3>Victor Hugo</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum necessitatibus quod voluptatum assumenda sit dolorem ipsam quo quibusdam! Soluta minus, esse inventore voluptatem ex molestias tenetur sint eos repellendus ducimus!</p>
                        </article>
                        
                        <div class="txt-center">
                            <a href="#" class="target-btn btn-gradient">Ver Mais Avaliações</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="detail__item answers">
                <div class="container">
                    <div class="detail__title">
                        <h3><strong>Resposta de </strong>Marco Antônio</h3>
                    </div>
                    <div class="detail__wrapper">
                        <div class="qa-combo">
                            <div class="question cor-verde">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde, saepe odit nisi. Laboriosam, iure blanditiis quam atque. Possimus, porro?</p>
                            </div>
        
                            <div class="answer">
                                <div class="inner">
                                    <div class="top">
                                        <figure class="doctor-photo">
                                            <img alt="Dr. Guilherme Marques" src="/views/img/medico.jpg">
                                        </figure>
                                        <div class="doctor-dados">
                                            <h3 class="name">Dr. Jimi Hendrix</h3>
                                            <p class="speciality">Neurologista</p>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <p class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores similique culpa magni laborum est sed ipsum dignissimos quisquam, veritatis quos fugit reprehenderit nemo commodi aliquam voluptatem deleniti. Eius, ipsum, impedit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="txt-center">
                            <a href="#" class="target-btn btn-gradient">Ver mais Respostas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            <div class="detail__item gallery">
                <div class="detail__title">
                    <h3>Galeria de <strong>Fotos</strong> e <strong>Vídeos</strong></h3>
                </div>
                <div class="detail__wrapper">
                    <div class="gallery-photos">
                        <h4><strong>FOTOS</strong></h4>
                        <ul class="gallery-list row">
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="/views/img/medico.jpg" class="gallery-photos__pht" data-fancybox="gallery-photos">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="lupa"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="/views/img/medico.jpg" class="gallery-photos__pht" data-fancybox="gallery-photos">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="lupa"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="/views/img/medico.jpg" class="gallery-photos__pht" data-fancybox="gallery-photos">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="lupa"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="/views/img/medico.jpg" class="gallery-photos__pht" data-fancybox="gallery-photos">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="lupa"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="/views/img/medico.jpg" class="gallery-photos__pht" data-fancybox="gallery-photos">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="lupa"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="/views/img/medico.jpg" class="gallery-photos__pht" data-fancybox="gallery-photos">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="lupa"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="gallery-photos">
                        <h4><strong>VÍDEOS</strong></h4>
                        <ul class="gallery-list row">
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="https://www.youtube.com/watch?v=SEbxwmjScr8" class="gallery-photos__vid" data-fancybox="gallery-video">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="play"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="https://www.youtube.com/watch?v=SEbxwmjScr8" class="gallery-photos__vid" data-fancybox="gallery-video">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="play"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="https://www.youtube.com/watch?v=SEbxwmjScr8" class="gallery-photos__vid" data-fancybox="gallery-video">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="play"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="https://www.youtube.com/watch?v=SEbxwmjScr8" class="gallery-photos__vid" data-fancybox="gallery-video">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="play"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="https://www.youtube.com/watch?v=SEbxwmjScr8" class="gallery-photos__vid" data-fancybox="gallery-video">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="play"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                            <li class="gallery-list__item col-md-2 col-6 col-sm-4">
                                <figure style="background-image: url(/views/img/medico.jpg);">
                                    <a href="https://www.youtube.com/watch?v=SEbxwmjScr8" class="gallery-photos__vid" data-fancybox="gallery-video">
                                        <img src="/views/img/medico.jpg" alt="Nome do Médico">
                                        <div class="hover">
                                            <i class="play"></i>
                                        </div>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="detail__item experience">
                <div class="container">
                    <div class="detail__title">
                        <h3>Experiência</h3>
                    </div>
                    <div class="detail__wrapper no-padding">
                        <article class="type experience-item">
                            <h3><strong>BIOGRAFIA</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nisi adipisci ab repellat. Ea similique nulla totam dolorum saepe quasi cumque voluptatem numquam sunt, soluta aperiam laborum at quam possimus alias asperiores earum cum autem dicta! Deleniti impedit nesciunt est quidem, natus maxime illo ullam aliquam placeat laboriosam deserunt dignissimos.</p>
                        </article>
                        <div class="experience-item">
                            <h3><strong>Prêmios</strong></h3>
                            <div class="accordion" id="accordion">
                                <div class="accordion--item">
                                    <div class="accordion-toggle active">
                                        <i class="selo-award"></i>
                                        O melhor Cardiologista de 2018
                                    </div>
                                    <div class="accordion-content" style="display: block;">
                                        <div class="accordion-content--item">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sed odio amet, cumque expedita, rem reprehenderit delectus consequuntur illum. Eveniet deserunt itaque ipsa incidunt facere libero sunt veniam, ea perspiciatis. Hic laboriosam iusto, magnam debitis quam velit sit repellendus explicabo facere, inventore. Perspiciatis quidem ex saepe dolor in sint blanditiis voluptates. Illo vero repudiandae, quod amet hic beatae eaque repellat perspiciatis, ut dicta nobis totam nostrum eveniet sequi laboriosam. Voluptatum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion--item">
                                    <div class="accordion-toggle">
                                        <i class="selo-award"></i>
                                        O melhor Cardiologista de 2016
                                    </div>
                                    <div class="accordion-content" style="display: none;">
                                        <div class="accordion-content--item">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit provident illum deserunt ipsa possimus a, voluptatibus, incidunt nemo saepe sapiente ea error. Provident repellat error, harum illo debitis, maiores adipisci amet atque sequi optio earum! Voluptatibus assumenda nisi iste illum distinctio, a sequi animi facere est necessitatibus ea labore explicabo!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>		
        </div>		
			
	</div>	
</section>	
<script>
		jQuery("input[type='date']").on('focus onfocus', () => {
				jQuery("input[type='date']:before").remove();
				console.log("Evento focus");
		});

        </script>
        
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMnYcBd8wfwxzJX9csVV56GdWqCJU66tU&callback=initMap">
        </script>
        <script src="/views/js/map.js" id="latlng" data-lat="-3.7631064" data-long="-38.6524462"></script>
<%- include includes/footer.ejs %>
